<!DOCTYPE html>
<html>
<head>
  <title>IViaggiManager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= yield %>
</div>

<div>
  <%= t :hello %> (<%= locale %>) <%= t :catalog, count: 200 %>
</div>
</body>
</html>
